.nanum-pen-script-regular {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
  }


  
.roboto-mono-400 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body{
    margin: 0px 0px 0px 0px;
    overflow-x: hidden;
}

.center-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

